pillow==10.1.0
opencv-python-headless==4.8.1.78
google-cloud-vision==3.5.0
langchain-community==0.0.13
langchain-openai==0.0.3
flask==3.0.0
faiss-cpu==1.7.4
openai==1.6.1
python-dotenv==1.0.0
pytesseract==0.3.10
langchain-google-genai==0.0.6
gunicorn==21.2.0